# Visual Studio
.cache/
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# JetBrains
.idea/

# Binaries
cmake-build-debug/
bin/
int/
out/
build/

# Git
.git/

# Nix
.direnv